h1 {
    font-family: serif;
    color: inherit;

}

p{
  text-align: left;
  color: orange;
  font-size: 30;

}

body {
  background-color: grey;

  text-align: center;

}
  .left {
          font-size: 20;
          color: orange;
          width: 25%;
          float: left;
          margin-left: 22%;
          text-align: left;

          }

  .right {
          font-size: 20;
          color: orange;
          float: right;
          margin-right: 22%;
          text-align: right;
          width: 25%;

        }
}
